development:
  secret_key_base: 6ac11bd3a43955da8a858d84d1021bbe0cb7abfb1fab1d3b8cf15b92c6b4afdd32096887edd897f2ccd6d3667453503f6bbf2c14d5a5b5aed0e0be6abbd592da
  superadminemail: 'superadmin@alterna.com'
  superadminpwd: 'xxxxx'
  ftp_module_host_name: 'XYZ'
  ftp_module_login: 'XYZ'
  ftp_module_password: 'XYZ'
  ftp_port: '22'
  re_subscribe_url_en: 'https://www.alternabank.ca/AboutUs/ContactUs/Email%20Sign%20Up/'
  re_subscribe_url_fr: 'https://www.alternabank.ca/lang/fr/AboutUs/ContactUs/Email%20Sign%20Up/'
  unsubscribe_url: ''
  contact_us_en: 'https://www.alternabank.ca/AboutUs/ContactUs/'
  contact_us_fr: 'https://www.alternabank.ca/lang/fr/AboutUs/ContactUs/'
  wv_to_mv_read_filepath:
    Alterna_Savings: '/CASL/Alterna_Savings/WV_to_MW/'
    Alterna_Bank: '/CASL/Alterna_Bank/WV_to_MW/'
  mv_to_wv_write_filepath:
    Alterna_Savings: '/CASL/Alterna_Savings/MW_to_WV/'
    Alterna_Bank: '/CASL/Alterna_Bank/MW_to_WV/'
  app_csv_import_path: 'public/csv_imports/'
  app_csv_export_path: 'public/csv_exports/'
  smtp:
    fqdn: 'abc.alterna.ca'
    port: 25
  mailchimp:
    username: 'XXX'
    password: 'XXXXX'
    endpoint: https://usx.api.mailchimp.com/3.0
    Alterna_Savings:
      id: 'xx'
      interests:
        '01': 'xx'
        '02': 'xx'
        '03': 'xx'
        'I would like to receive communication from Alterna Savings': '01'
        'E-newsletter': '02'
        'Alterna news and events': '03'
    Alterna_Bank:
      id: 'xx'
      interests:
        '01': 'xx'
        '02': 'xx'
        '03': 'xx'
        'I would like to receive communication from Alterna Savings': '01'
        'E-newsletter': '02'
        'Alterna news and events': '03'
  mailer_url_host: 'TEST'
  mailer_url_protocol: 'http'
test:
  secret_key_base: 5acfc2e91c92f29efbf9a869ed58e7771c0542f5333fd1650d53e7a712c019808f45b2977881695e50a78d7031b9ef841258fcddcc8fd110ae5f76e6dd6c1b39
